    <section class="downsec">
      <div class="apresentacao">
        <div class="sobreoprojeto">
          <hr />
          <h2 class="titsece">Changelog</h2>
          <hr />
        </div>
      </div>
    </section>
    <article>
      <div class="chglogmenu">
        <ul class="chgulmenu">
          <h3 style="padding:12px;">Range Engine Releases:</h3>
          <li class="chgmli" style="border-color: rgba(145, 30, 30, 0.582);"><a>RanGE 1.0</a></li>
          <li id="rangeSplash" class="chgmli"><a href="/changelog">RanGE 1.2</a></li>
        </ul>
      </div>
      <div class="articlechanges">
        <div class="changelogdiv">
          <div class="artigoschanges">
            <h3 class="changestitle"><a href="#rangeSplash">RanGE 1.0</a></h3>
            <p class="whatsxbge"><i>Principal Changes</i></p>
            <hr />
            <br />
            <img class="funcssplash" src="/img/changelog/1.0/splash.png" alt="Splash" />
            <a href="#" class="togglechalog">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </a>
          </div>
          <span id="areaLights"></span>
          <ul class="artigoschanges">
            <li class="changestitle"><a href="#areaLights">Area Light</a></li>
            <hr />
            <p>New Lamp Illumination Type.</p>
            <img id="responsiveProfiler" class="funcsch" src="/img/changelog/1.0/arealight.png" alt="Area Light" />
            <br />
            <br />
            <li class="changestitle"><a href="#responsiveProfiler">Responsive Profiler</a></li>
            <hr />
            <p>Best Engine Depuration.</p>
            <img class="funcsch" src="/img/changelog/1.0/profiler.gif" alt="Profiler" />
            <br id="layerWeight" />
            <br />
            <li class="changestitle"><a href="#layerWeight">Layer Weight</a></li>
            <hr />
            <p>Now You Can Control The Layer Weight Of Each Layer, Allowing For More Complex Animations.</p>
            <img class="funcsch" src="/img/changelog/1.0/layerweight.gif" alt="Layer Weight" />
            <br id="characterPhysics" />
            <br />
            <li class="changestitle"><a href="#characterPhysics">Character Physics Update</a></li>
            <hr />
            <p>Character Physics Now Has Smooth Movement And Jump Direction.</p>
            <img class="funcsch" src="/img/changelog/1.0/jumpdir.gif" alt="Jump Direction">
            <img class="funcsch" src="/img/changelog/1.0/smoothmov.gif" alt="Smooth Movement" />
            <br id="textResolution" />
            <br />
            <li class="changestitle"><a href="#textResolution">Text Resolution</a></li>
            <hr />
            <p>Change The In-Game Text Resolution (High Resolution Can Slow Performance)</p>
            <img class="funcsch" src="/img/changelog/1.0/textres.gif" alt="Text Resolution" />
            <br id="velocityCulling" />
            <br />
            <li class="changestitle"><a href="#velocityCulling">Physics Culling Velocity</a></li>
            <hr />
            <p>Objects With Physics Culling Only Stop Physics When They Are Motionless.</p>
            <img class="funcsch" src="/img/changelog/1.0/pysxculling.png" alt="Physics Culling" />
            <br id="frictionApi" />
            <br />
            <li class="changestitle"><a href="#frictionApi">Object Physics Friction</a></li>
            <hr />
            <p>New Function On Object Physics.</p>
            <img class="funcsch" src="/img/changelog/1.0/objfric.gif" alt="Object Friction" />
            <br id="objectSimulationScaling" />
            <br />
            <li class="changestitle"><a href="#objectSimulationScaling">worldScalingObject Now Influence To obstacleSimulation</a></li>
            <hr />
            <p>Now Obstacle Simulation Size Influences With Object Scaling, Great For Objects Instantiated With Different Sizes.</p>
            <img class="funcsch" src="/img/changelog/1.0/wssim.gif" alt="Obstacle Simulation" />
            <br id="arrangeComponents" />
            <br />
            <li class="changestitle"><a href="#arrangeComponents">Reordering Components</a></li>
            <hr />
            <p>You Can Arrange The Order Of Components In The Object.</p>
            <img class="funcsch" src="/img/changelog/1.0/reordercomp.gif" alt="Reordering Components" />
            <br id="componentsHeader" />
            <br />
            <li class="changestitle"><a href="#componentsHeader">Components Header</a></li>
            <hr />
            <p>You Can Organize Your Components With Components Header.</p>
            <img class="funcsch" src="/img/changelog/1.0/compheader.png" alt="Components Header" />
            <br id="mouseInputs" />
            <br />
            <li class="changestitle"><a href="#mouseInputs">New Mouse Events (Logic Bricks)</a></li>
            <hr />
            <p>Mouse Side Buttons Are Now Available On Logic Bricks.</p>
            <img class="funcsch" src="/img/changelog/1.0/mousevents.png" alt="Mouse Events" />
            <br id="repeatFor" />
            <br />
            <li class="changestitle"><a href="#repeatFor">Repeat For In Delay Sensor</a></li>
            <hr />
            <p>Number Of Times The Sensor Will Repeat Before Stopping.</p>
            <img class="funcsch" src="/img/changelog/1.0/repeatfor.png" alt="Repeat For" />
            <br />
            <br />
          </ul>
          <ul class="artigoschanges">
            <p><strong>API, Bug Fixes And Much More!</strong><br />
            On RanGE GitHub Changelog</p>
            <br />
            <li class="downabout"><a class="downnow" target=”_blank” href="https://github.com/rangeengine/Range-Engine-Wiki/wiki/Release-notes-version-1.0">RanGE GitHub</a></li>
          </ul>
        </div>
      </div>
    </article>