<!doctype html>
<html lang="pt-br" xmlns:fb="http://ogp.me/ns/fb#" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Range Engine</title>
    <meta name="description" content="Range Engine Is a Light And Powerful Game Engine And 3D Software"/>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Range Engine"/>
    <meta property="og:description" content="Range Engine Is a Light And Powerful Game Engine And 3D Software"/>
    <meta property="og:site_name" content="Range Engine"/>
    <meta property="og:image" content="https://rangeengine.tech//img/RanGEs.png"/>
    <link href="/css/fonts/font_faces.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles/rangecss.css"/>
    <link rel="shortcut icon" href="/img/favicon.png" type="x-png"/>
    <script src="/js/jquery-1.9.1.js"></script>
  </head>
  <body>
    <header class="header">
      <h1 class="title"><a href="/"><img class="logo" src="/img/RGE.png" alt="RanGELogo" /></a></h1>
      <a class="togglebutton">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </a>
      <nav class="headerlinks">
        <ul class="heaul">
          <li class="headerlis"><a class="healinks" href="/download">Download</a></li>
          <li class="headerlis"><a class="healinks" href="/changelog">Changelog</a></li>
          <li class="headerlis"><a class="healinks" href="/about">Learn More</a></li>
          <li class="headerlis"><a class="healinks" href="/RangeDoc_Build/html">API</a></li>
          <li class="headerlis"><a class="healinks" href="/store">Store&nbsp;<sup>(soon)</sup></a></li>
          <li class="headerlis"><a class="suppus" target=”_blank” href="https://patreon.com/user?u=62478788">Support</a></li>
        </ul>
      </nav>
    </header>